@media (max-width: 1352px) {
  .product {
    &__wrapper {
      .card-btn {
        display: none;
      }
      .swiper-slide-active ,
      .swiper-slide-active + .card,
      .swiper-slide-active + .card + .card {
        .card-btn {
          display: block;
        }
      }
      .swiper-slide-active + .card + .card + .card {
        .card-btn {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .header {
    margin-bottom: 33px;
    &__basket {
      display: none;
    }
    &__top {
      height: auto;
      background: linear-gradient(180deg, #fff 58px, #f6f6f6 50%);
      &-list {
        align-items: center;
        justify-content: space-between;
        display: grid;
        grid-template-columns: auto auto auto auto minmax(auto , 178px);
      }
      &-item {
        white-space: nowrap;
      }
      &-item:not(:last-child) {
        margin-right: 20px;
      }
    }
    &__top-basket {
      display: flex !important;
      justify-self: end;
      width: 99px;
    }
    &__container {
      grid-template-columns: 1fr;
      grid-template-rows: auto minmax(50px , auto);
    }
    &__select-box {
      justify-content: space-between;
      min-height: 58px;
    }
    &__center {
      grid-template-columns: minmax(auto,187px) minmax(auto,701px);
    }
    &__nav-list {
      padding-top: 0;
      transform: translateY(-1px);
    }
    &__bottom {
      grid-template-columns: 1fr;
    }
    &__form-box {
      transform: translateY(1px);
    }
  }
  .hero__slide:first-child {
    background-image: image-set(url(img/hero-1-1024.jpg) 1x,url(img/hero-1-1024@2x.jpg) 2x) !important;
  }
  .hero__slide:nth-child(2) {
    background-image: image-set(url(img/hero-2-1024.jpg) 1x,url(img/hero-2-1024@2x.jpg) 2x);
  }
  .hero__slide:nth-child(3) {
    background-image: image-set(url(img/hero-3-1024.jpg) 1x,url(img/hero-3-1024@2x.jpg) 2x);
  }
  .card__offer-img_center {
    transform: scale(1.08) translateY(20px) translateX(-3px);
  }
  .card-sofa {
    display: none;
  }
  .ocsford__background {
    background-image: image-set(url(img/ocsford1024.jpg) 1x,url(img/ocsford1024@2x.jpg) 2x);
  }
  .category__item {
    &-title {
      margin-bottom: 36px;
    }
    &-one {
      grid-column: 1 / 5;
      grid-row: 1 / 2;
    }
    &-two {
      grid-column: span 2;
      order: 2;
    }
    &-three {
      grid-row: 1 / 2;
    }
    &-four {
      order: 1;
    }
    &-five {
      order: 3;
    }
    &-three ,
    &-four ,
    &-five {
      padding-bottom: 88px;
    }
  }
  .useful {
    &__slide {
      min-height: 426px;
    }
    &__wrapper {
      .swiper-slide-active ,
      .swiper-slide-active + .useful__slide ,
      .swiper-slide-active + .useful__slide + .useful__slide {
      	.card-btn {
      	display: block;
      	}
      }
    }
    &__subtitle {
      margin-bottom: 13px;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
    }
  }
  .contacts__container {
    grid-template-columns: minmax(auto , 405px) 1fr;
  }
  .contacts__paragraph {
    max-width: 405px;
  }
  .footer__content {
    grid-template-columns: minmax(209px,auto) minmax(auto,731px);
  }
  .footer {
    grid-template-columns: minmax(36px,1fr) minmax(auto,1280px) minmax(38px,1fr);
  }

  .header_head {
    margin-bottom: 24px;
  }

  // ::::::::::::::::catalog page:::::::::::::::::

  .filter {
    &-aside {
      display: none;
    }
    &__subtitle {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
    }
    &__prices {
      padding-right: 40px;
    }
  }
  .catalog {
      grid-column: 2 / 3;
    &-header {
      margin-bottom: 24px;
    }
    &__title-box {
      margin-bottom: 7px;
    }
    &-main {
      grid-template-columns: minmax(36px , 1fr) minmax(auto , 952px) minmax(36px , 1fr);
    }

    &__nav {
      &-box {
        display: flex;
      }
      &-cnt:nth-child(-n + 2) {
        z-index: 4;
      }
    }
  }

  // ::::::::::::product page :::::::::::::::
  .product {
    grid-template-columns:minmax(415px , 515px) minmax(355px , 405px) ;
    &__title {
      max-width: 100%;
    }
    &__description {
      margin-bottom: 82px;
    }
    &__description-images {
      margin-bottom: 67px;
    }
    &__modal-cnt{
      max-width: 952px;
      max-height: 588px;
    }
    &__modal-img {
      max-width: 821px;
      max-height: 322px;
    }
    &__img-box {
      padding: 10px;
    }
    &__left-btn-prev ,
    &__left-btn-next {
      display: flex;
    }
  }
  .add-to-basket-box {
    margin-bottom: 67px;
  }
  // ::::::::::::product page :::::::::::::::


  // :::::::::::contact:::::::::::::
  .contact {
    &__header {
      margin-bottom: 24px;
    }
  }
}

@media (max-width: 960px) {
  .burger {
    display: flex;
  }
  .header__top-basket {
    display: none !important;
  }
  .header__top-list {
    display: flex;
    justify-content: space-between;
  }
  .header__nav {
    display: none;
  }
  .header__center {
    grid-template-columns: 1fr 1fr 1fr;
    &-basket {
      display: flex !important;
      justify-content: flex-end;
    }
  }
  .header__user-link {
    margin-right: 43px;
  }
  .header__top-item:nth-last-child(2) {
    margin: 0;
  }
  .header__top-item:not(:nth-last-child(2) , :last-child) {
    margin-right: 15px;
  }
  .offer {
    &__wrapper {
      .swiper-slide-active ,
      .swiper-slide-active + .card_offer {
        .card-btn{
          display: block;
        }
      }
      .swiper-slide-active + .card_offer + .card_offer {
        .card-btn{
          display: none;
        }
      }
    }
  }
  .category__item {
    &-one {
      grid-column: 1 / 7;
    }
    &-two {
      order: 1;
    }
    &-three {
      grid-row: 2 / 3;
    }
    &-two ,
    &-three ,
    &-four ,
    &-five {
      grid-column: span 3;
    }
  }
  .footer__content {
    grid-template: auto auto / 1fr;
  }
  .footer__left {
    display: flex;
    justify-content: space-between;
  }
  .social {
    width: 130px;
  }
  .footer__right{
    padding-top: 0;
    padding-bottom: 24px;
  }

  .product {
    grid-template: auto auto auto / 1fr;
    grid-column-gap: 0;
    &__characteristic-list {
      display: none;
      &-hidden {
        display: block;
      }
    }
    &__img-box {
      flex-direction: column;
      width: fit-content;
      padding: 25px ;
      .product__picture:not(:last-child) {
        margin-right: 0;
        margin-bottom: 18px;
      }
    }
    &__cnt-right {
      display: none;
      &-hidden {
        display: block;
        transform: translateY(11px);
      }
    }
    &__cnt-left-grid {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-column-gap: 33px;
    }
    &__description ,
    &__description-span {
      max-width: 514px;
    }
    &__description {
      margin-bottom: 33px;
    }
    &__img-slider {
      margin-bottom: 32px;
    }
    &__description-images {
      margin-bottom: 28px;
    }
    &__modal-cnt{
      max-width: 624px;
      max-height: 494px;
    }
    &__modal-img {
      max-width: 583px;
      max-height: 228px;
    }
    &__left-slide {
      width: 222px !important;
    }
    &__wrapper {
      .card-btn {
        display: none;
      }
      .swiper-slide-active ,
      .swiper-slide-active + .card {
        .card-btn {
          display: block;
        }
      }
      .swiper-slide-active + .card + .card ,
      .swiper-slide-active + .card + .card + .card {
        .card-btn {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header ,
  .header__top ,
  .hero__slide ,
  .offer ,
  .calificaciones,
  .category ,
  .useful ,
  .contacts-cnt ,
  .footer ,
  .catalog-main ,
  .product-main {
    grid-template-columns: 72px minmax(auto , 624px) 72px;
  }
  .header__center-basket {
    max-height: 27px;
  }
  .header__center {
    align-items: center;
  }
  .header__logo {
    transform: translateX(3px) translateY(1px);
  }
  .header__dropdown {
    width: 189px;
    &-list {
      grid-template-columns: 1fr;
    }
  }
  .hero__slide:first-child {
    background-image: url(img/hero-1-768.jpg) !important;
  }
  .hero__slide:nth-child(2) {
    background-image: url(img/hero-2-768.jpg);
  }
  .hero__slide:nth-child(3) {
    background-image: url(img/hero-3-768.jpg);
  }
  .ocsford__background {
    background-image: url(img/ocsford768.jpg);
  }
  .useful__wrapper {
    .swiper-slide-active ,
    .swiper-slide-active + .useful__slide {
      .card-btn {
        display: block;
      }
    }
    .swiper-slide-active + .useful__slide + .useful__slide {
      .card-btn {
        display: none;
      }
    }
  }
  .social {
    transform: translateY(-2px);
  }
  .footer__logo {
    margin-bottom: 26px;
    &-img {
      margin: 0;
    }
  }
  .footer__content {
    padding-top: 26px;
  }
  .footer__right {
    padding-bottom: 14px;
  }

  .catalog {
    &__nav-box {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      &-list {
        width: 405px;
        grid: auto auto / minmax(140px , 1fr) minmax(140px , 1fr);
        max-width: 100%;
      }
    }
    &__nav-btn {
      width: 100%;
    }
    &__nav-title {
      margin-bottom: 5px;
    }
  }
  .contact {
    &__form {
      max-width: 557px;
    }
  }

  .calificaciones__list {
    grid-template: repeat(2,auto)/repeat(auto-fill,minmax(200px,1fr));
  }
  .card {
    min-width: 200px;
  }
}

@media (max-width: 700px) {
  .header__top {
    background: #f6f6f6;
    &-list {
      display: none;
    }
  }
  .header__container {
    grid-template-rows: auto;
  }
  .burgerdown__contet {
    padding-bottom: 26px;
  }
  .burgerdown__bottom {
    display: block;
  }
  .burgerdown__bottom-link {
    color: #999999;
  }
  .offer {
    &__wrapper {
      .card_offer {
        .card-btn{
          display: none !important;
        }
      }
      .swiper-slide-active {
        .card-btn{
          display: block !important;
        }
      }

    }
  }
  .useful__wrapper {
    .swiper-slide-active {
      .card-btn {
        display: block;
      }
    }
    .swiper-slide-active + .useful__slide ,
    .swiper-slide-active + .useful__slide + .useful__slide {
      .card-btn {
        display: none;
      }
    }
  }
  .contacts__container {
    grid-template-columns: minmax(auto,405px) minmax(119px , 1fr);
    grid-column-gap: 24px;
  }
  .footer__right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 24px;
  }
  .footer__right-child {
    grid-column: span 1 !important;
  }

  // :::::::::::::: catalog page :::::::::::::
  .card {
    &__star {
      margin: 0;
      max-height: 16px;
      line-height: 16px;
    }
  }
  .card__img {
    width: 88%;
  }
  .calificaciones__list {
    grid-gap: 24px;
  }
  .catalog {
    &-swiper {
      height: 866px;
      margin-bottom: 32px;
      .swiper-slide {
        height: calc((100% - 32px) / 3);
      }
    }
  }
  .card__title:not(.card__title_margin_bottom) {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    height: 62px;
    overflow: hidden;
    margin-bottom: 16px;
  }
}

@media (max-width: 600px) {
  .header ,
  .header__top ,
  .hero__slide ,
  .offer ,
  .calificaciones ,
  .category ,
  .useful ,
  .contacts-cnt ,
  .footer ,
  .catalog-main ,
  .product-main {
    grid-template-columns: 35px minmax(auto , 530px) 35px;
  }
  .burgerdown__contet,
  .burgerdown__bottom {
    padding-left: 35px;
    padding-right: 35px;
  }
  .title {
    font-size: 24px;
  }
  .header__logo {
    transform: none;
  }
  .contacts__picture {
    display: none;
  }
  .contacts__container {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }
  .catalog__title-list {
    min-height: 8px;
  }
  .calificaciones {
    &__list {
      grid-template: repeat(2,minmax(278px,auto))/repeat(auto-fill,minmax(200px,1fr));
      grid-auto-rows: minmax(278px,auto);
      grid-gap: 16px;
    }
    &__img {
      width: 78%;
      height: auto;
    }
  }
  .header {
    grid-row-gap:29px ;
  }
  .header__top {
    background: linear-gradient(to bottom,#f6f6f6 0,#f6f6f6 50px,white 50px,white 100%);
  }
  .header__logo {
    display: none;
  }
  .header__logo-top {
    display: block;
  }
  .header__container {
    grid-template-rows: auto auto;
    justify-content: start;
    padding-top: 12px;
  }
  .header__center {
    grid-template-columns: 1fr 1fr;
    &::before , &::after {
      display: block;
    }
  }
  .header__select-box {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .header__my-select {
    margin-bottom: 13px;
  }
  .header__bottom {
    height: auto;
  }
  .header__center-basket {
    max-height: 26px;
    transform: translateY(2px);
  }
  .header__form-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 16px;
  }
  .header__dropdown-box {
    height: 60px;
  }
  .header__dropdown {
    width: 100%;
  }
  .header__dropdown ,
  .header__form-input {
    border-radius: 10px !important;
  }
  .header__phone-focus {
    transform: translateX(3px);
  }
  .hero {
    padding-bottom: 162px;
    &__swiper {
      overflow: visible;
    }
    &__content {
      position: relative;
    }
  }
  .hero__btn {
    position: absolute;
    width: 100%;
    max-width: 100%;
    top: calc(100% + 32px);
  }
  .swiper-box-btn-container {
    position: absolute;
    bottom: 0px;
    left: calc(50% - 38.5px);
  }
  .useful__swiper ,
  .offer__swiper {
    padding-bottom: 48px;
  }
  .offer__wrapper {
    overflow: visible;
  }
  .ocsford {
    .btn {
      max-width: 100%;
      width: 100%;
      transform: translateY(80px);
    }
  }
  .hero__title {
    font-size: 40px;
  }
  .category__item-title ,
  .category__nav {
    padding: 0 16px;
  }
  .ocsford__description ,
  .hero__title {
    font-size: 34px;
  }
  .ocsford__title {
    font-size: 54px;
  }
  .burger {
    bottom: -2px;
  }
  .burgerdown {
    border: none;
    top: calc(100% + 21px);
  }
  .burgerdown__picture {
    display: none;
  }
  .burgerdown__contet {
    grid-template-columns: 1fr;
  }
  .burgerdown__list {
    grid-template-columns: 1fr;
  }
  .burgerdown__item:nth-child(2) ,
  .burgerdown__item:nth-child(3) ,
  .burgerdown__item:nth-child(4) ,
  .burgerdown__item:nth-child(5) {
    order: 1;
  }
  .ocsford__container {
    padding-top: 33px;
  }
  .catalog__nav-list {
    padding-left: 15px;
    padding-right: 10px;
  }
  .catalog-checkbox-custom  {
    margin-right: 6px;
  }
  .catalog__title-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 11px;
  }
  .catalog__title-box {
    margin: 0;
  }
  .catalog__title-item {
    margin-bottom: 16px;
  }
  .filter-item-text {
    max-width: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .filter-item-text-first {
    position: relative;
    visibility: hidden;
    &::after {
      content: '> 5 000';
      position: absolute;
      visibility: visible;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  .filter-item-text-last {
    position: relative;
    visibility: hidden;
    &::after {
      content: '< 5 000';
      position: absolute;
      visibility: visible;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  .catalog__nav-box-list {
    width: 100%;
    grid-gap: 16px;
  }
  .catalog__nav-title {
    line-height: 18px;
    margin-bottom: 16px;
  }
  .breadcrumps {
    display: none;
  }

  // :::::::::::::::product page::::::::::
  .product {
    &__modal-cnt{
      padding-top: 32px;
      max-width: 450px;
      max-height: 320px;
    }
    &__modal-img {
      max-width: 380px;
      max-height: 140px;
      margin-bottom: 32px;
    }
    &__left-slide {
      width: 100% !important;
    }
    &__img-modal-view {
      height: 86px;
    }
    &__left-swiper {
      height: 118px;
      padding: 16px 55px;
    }
    &__swiper {
      padding-bottom: 48px;
    }
    &__modal-buy {
      grid-template-columns: minmax(auto,368px);
      padding: 30px 16px;
    }
    &__cnt-left-grid {
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr;
      grid-column-gap: 0;
    }
    &__img-box {
      flex-direction: row;
      padding: 10px;
      width: 100%;
      .product__picture:not(:last-child) {
        margin-right: 38px;
        margin-bottom: 0;
      }
    }
    &__star {
      margin-bottom: 4px;
    }
  }
  .ymaps-2-1-79-balloon__close-button {
    margin-top: 12px !important;
    margin-right: 12px !important;
  }
  .ymaps-2-1-79-balloon__content {
    padding: 24px 20px !important;
    width: 192px !important;
    &__header , p , div {
      width: 192px !important;
    }
  }
  .ymaps-2-1-79-balloon__content p{
    font-size: 12px !important;
    line-height: 22px !important;
  }
  .ymaps-2-1-79-balloon-content__header {
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 19px !important;
  }
  .ymaps-2-1-79-balloon-content__header + div{
    font-size: 12px !important;
    line-height: 16px !important;
  }
  .ymaps-2-1-79-panel-pane {
    width: auto !important;
    left: 18px !important;
  }

  .card {
    max-height: 278px;
    min-width: 140px;
    padding: 16px;
  }

  .product__wrapper .card-btn,
  .catalog__wrapper .card-btn,
  .calificaciones__list .card-btn {
    width: 108px;
    height: 40px;
    padding: 10px 23px;
    &-box {
      padding: 0;
    }
  }

  .product__counter {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px; 
  }
  .card {
    &-btn {
      transform: none;
    }
    &__cnt-box {
      margin-bottom: 16px;
      padding: 0;
    }
    &__star {
      margin-bottom: 12px;
      padding: 0;
      &-counter {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;     
      }
      &-icon {
        width: 13px;
        height: 12px;
        margin-right: 6px;
      }
    }
  
    &__picture {
      max-height: 54px;
      margin-bottom: 9px;
    }
    &__img {
      height: 54px;
      width: auto;
    }
  }

  .calificaciones__list {
    grid-gap: 16px;
  }
}

@media (max-width: 400px) {
  .header ,
  .header__top ,
  .hero__slide ,
  .offer ,
  .calificaciones ,
  .category ,
  .useful ,
  .contacts-cnt ,
  .footer ,
  .catalog-main ,
  .product-main {
    grid-template-columns: 12px 1fr 12px;
  }
  .burgerdown__bottom ,
  .burgerdown__contet {
    padding-left: 12px;
    padding-right: 12px;
  }
  .header_head {
    margin-bottom: 33px;
  }
  .catalog-header {
    margin-bottom: 37px;
  }
  .header__center {
    padding-left: 4px;
  }
  .header__center::after ,
  .header__center::before {
    left: -12px;
    right: -12px;
  }
  .hero__slide {
    min-height: 210px;
  }
  .hero__title {
    max-width: 225px !important;
    padding-left: 18px;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 0;
  }
  .hero__slide:first-child {
    background-image: url(img/hero-1-320.jpg) !important;
  }
  .hero__slide:nth-child(2) {
    background-image: url(img/hero-2-320.jpg);
  }
  .hero__slide:nth-child(3) {
    background-image: url(img/hero-3-320.jpg);
  }
  .hero__content {
    padding: 30px 0 30px 0;
  }
  .hero__pagination .swiper-pagination-bullet {
    height: 6px;
    width: 6px;
    background-color: #333;
    opacity: .3;
    margin: 0 4px!important;
  }
  
  .hero__pagination {
    bottom: 8px !important;
    .swiper-pagination-bullet-active {
      opacity: 1;
    }
    .swiper-pagination-bullet--svg-animation {
      svg {
        display: none;
      }
    }
    .swiper-pagination-bullet-active {
      opacity: 1;
      .svg__circle {
        display: none;
      }
    }
  }
  .title {
    line-height: 24px;
  }
  .card__img {
    width: 108px;
    height: auto;
    max-height: 70px;
    transform: translateY(-2px);
  }
  .calificaciones__list {
    grid-template-columns: 1fr 1fr;
  }
  .card__picture {
    align-items: center;
  }
  .calificaciones__btn {
    height: 40px;
    width: 108px;
    min-width: 108px;
    padding: 0;
    bottom: 16px;
    left: 16px;
  }
  .ocsford {
    padding-bottom: 162px;
    .btn {
      transform: translateY(143px);
    }
  }
  .ocsford__background {
    grid-template-columns: 12px 1fr 12px;
  }
  .ocsford__title {
    font-size: 24px;
    line-height: 28px;
  }
  .ocsford__description {
    font-size: 16px;
    line-height: 19px;
    max-width: 200px;
    margin-bottom: 0;
  }
  .ocsford__container {
    padding-bottom: 51px;
  }
  .ocsford__background {
    background-image: url(img/ocsford320.jpg);
  }
  .category__item-title {
    font-size: 16px;
    line-height: 17px;
    margin-bottom: 16px;
  }
  .category__link {
    display: none;
  }
  .category__link-hidden {
    display: block;
  }
  .category__item-title-first {
    margin-bottom: 13px;
  }
  .category__list {
    grid-template-rows: minmax(auto , 332px);
    grid-auto-rows: minmax(206px,auto);
    grid-column-gap: 16px;
  }
  .category__item {
    padding-top: 14px;
    padding-bottom: 16px;
  }
  .category__nav {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 6px;
  }
  .category__item-one {
    .category__nav-link {
      font-size: 14px;
      line-height: 14px;
    }
    .category__nav {
      flex-direction: row;
      padding: 0 30px;
      margin-bottom: 16px;
    }
    .category__nav-item:not(:last-child) {
      margin-right: 20px;
    }
    padding-bottom: 16px;
    padding-top: 30px;
  }
  .category__nav-item {
    margin-bottom: 0;
  }
  .category__item-four {
    .category__item-title {
      margin-bottom: 21px;
    }
    .category__link-hidden {
      transform: translateX(-5px) translateY(11px);
    }
  }
  .category__nav-link {
    font-size: 10px;
    line-height: 10px;
  }
  .category {
    padding-bottom: 78px;
  }
  .my-label-checkbox,
  .contacts__checkbox-link {
    font-size: 12px;
    line-height: 19px;
  }
  .my-label-checkbox {
    transform: translateY(1px);
  }
  .contacts__paragraph {
    margin-bottom: 15px;
  }
  .contacts__label {
    margin-bottom: 30px;
  }
  .send-form-btn {
    margin-bottom: 10px;
  }
  .my-checkbox-custom {
    margin-right: 4px;
  }
  .footer__left {
    flex-direction: column;
    align-items: center;
  }
  .footer__content {
    padding-top: 24px;
  }
  .social {
    margin-bottom: 20px;
    transform: translateX(1px) translateY(-4px);
  }
  .footer {
    grid-template-columns: 12px 1fr 18px;
  }
  .footer__right {
    grid-template-columns: auto auto;
    justify-content: space-between;
    grid-row-gap: 18px;
  }
  .footer__left {
    transform: translateX(2px);
  }
  .footer__bottom {
    transform: translateX(3px);
  }
  .card__img_catalog {
    width: 100% ;
    transform: translateY(2px);
  }
  .star {
    text-align: left;
    &__counter {
      font-size: 12px;
    }
  }

  // :::::::::::::::::::: product page ::::::::::::
  .wrapper-products .header {
    margin-bottom: 33px;
}
  .product__counter {
    font-size: 16px;
  }
  .product {
    &__header {
      margin-bottom: 33px;
    }
    &__img {
      &-slider {
        margin-bottom: 16px;
      }
      &-box {
        margin-bottom: 19px;
      }
    }
    &__cnt-right-hidden {
      padding: 0;
      transform: none;
    }
    &__title {
      font-size: 16px;
      line-height: 21px;
    }
    &__price {
      margin-bottom: 14px;
      font-size: 24px;
      line-height: 31px;
    }
    &__small {
      transform: translateY(3px);
      max-width: 244px;
    }
    &__btn {
      width: 100%;
    }
    &__modal-cnt{
      max-width: 296px;
      max-height: 286px;
    }
    &__modal-img {
      max-width: 264px;
      max-height: 104px;
    }
    &__modal-buy {
      grid-template-columns: minmax(auto,264px);
    }
    &__img-description {
      max-width: 140px;
      max-height: 64px;
    }
    &__characteristic-list-hidden {
      margin-bottom: 67px;
    }
    &__characteristic-item {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      &::before {
        display: none;
      }
    }
    &__characteristic-item:not(:last-child) {
      margin-bottom: 8px;
    }
    &__characteristic-text {
      font-size: 10px;
      font-weight: 400;
      line-height: 14px;
    }
    &__characteristic-variable {
      font-size: 14px;
      font-weight: 400;
      line-height: 19px;
    }
    &__description {
      max-width: 290px;
      &-pcture:not(:last-child) {
        margin-right: 16px;
      }
      &-images {
        margin-bottom: 31px;
      }
    }
    
    &__modal-buy-cancel,
    &__modal-cancel {
      top: 13px;
      right: 15px;
      width: 15px;
      height: 15px;
      &:before,&:after{
        width: 15px;
      }
    } 
  }

  .add-to-basket {
    display: block;
    width: 100%;
    text-align: center;
    &-box {
      margin-bottom: 31px;
    }
  }
  .contact {
    &__form {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 16px;
    }
    &__search-btn {
      width: fit-content;
    }
  }
  .ymaps-2-1-79-panel-pane {
    width: 250px !important;
    bottom: 20px !important;
  }
  // ::::::::::::cooperation::::::::::::::::
  .coop {
    margin-bottom: 69px;
    h2 {
      margin-bottom: 29px;
      line-height: 24px;
      font-size: 24px;
    }
    picture,
    img {
      width: 36px;
      height: 54px;
      margin-right: 16px;
    }
    h3 {
      font-size: 16px;
      line-height: 22px;
    }
    p {
      font-size: 14px;
      line-height: 25px;
    }
    li::marker {
      line-height: 24px;
    }
    h4 {
      margin-bottom: 11px;
    }
    .svg-li {
      align-items: flex-start;
      p{
        font-size: 14px;
        line-height: 21px;
      }
    }
    li {
      &:nth-child(3) h3 {
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 11px;
      }
      &:nth-child(5) p {
        max-width: 195px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
      &:nth-child(3)  {
        li:not(:last-child) {
          margin-bottom: 11px;
        }
      }
    }
  }
// ::::::::::::cooperation::::::::::::::::
  .card__title {
    word-break: normal;
  }
}
