@import '../../node_modules/normalize.css/normalize';
@import 'fonts';
@import 'mixins';
@import 'custom-select';

// primary clors
$violet-light :#C998FB;
$violet :#A65CF0;
$violet-dark :#7033AC;
// secondary clors
$orange :#FF862F;
$color-grey :#999999;
$footer-color :#EAEAEA;
$grey-shade :#666666;
$pink_violet :#EBD1FF;
$bone :#FFF5D1;
$lime_color :#DAFFD1;
$color-white :white;
$text-color :#333333;
$block-fon :#F6F6F6;

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;    /* чтобы padding не влиял на внешний вид */
          overflow: overlay;
}
*,*::before,*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;    /* 	Значение наследуется от родительского элемента. */
}
body {
  font-family: 'openSans',Arial, sans-serif;  /* в "" свой шрифт под проект*/
  line-height: 1;          /* пространствo между строками в тексте. */
  color: $text-color;           /* цвет текста который больше всего используется на странице */
  background-color: #fff;                  /* под проект - цвет фона страницы */
  overflow: overlay;
}
button,input {
  font: inherit;   /* используются когда font или font-family не наследуется по умолчанию */
  outline: none;
}
button {
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;   /* сброс стилей для ссылок */
  color: inherit;
  outline: none;
}
#preloader_preload{
  display: block;
  position: fixed;
  z-index: 300;
  top: 0;left: 0;
  width: 100%;
  height: 100%;
  background: #9B59B6 url(img/rings.svg) center center no-repeat;
  background-size:124px;}
.visually-hidden
{
  /* visually-hidden для скрытия заголовков */
  position: absolute !important; /* Указывает, что элемент абсолютно позиционирован */
  overflow: hidden;              /* Отображается только область внутри элемента, остальное будет скрыто. */
  clip: rect(1px 1px 1px 1px);   /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);/* определяет область позиционированного элемента, в которой будет показано его содержимое. */
  width: 1px !important;
  height: 1px !important;        /* !important - для подключения собственной таблицы стилей */
  padding: 0 !important;
  border: 0 !important;
}

// margin , padding quit
.header__top-list ,
.header__nav-list ,
.category__list ,
.category__item-title-first ,
.category__item-title ,
.social , 
.footer__right ,
.footer__lits ,
.burgerdown__list ,
.breadcrumps ,
.catalog__title-list ,
.filter__category ,
.filter__discount ,
.filter__color ,
.filter ,
.header__dropdown-list ,
.swiper-wrapper ,
// .coop__list ,
.coop__list-block ,
.product__characteristic-list,
.coop__list-flex {
  margin: 0;
  padding: 0;
}


.hero__title ,
.title ,
.card__title ,
.ocsford__title ,
.ocsford__description ,
.useful__subtitle ,
.contacts__paragraph,
.footer__subtitle,
.filter__title ,
.banner__title ,
.banner__text ,
.catalog__nav-title ,
// .coop__subtitle ,
// .coop__text , 
// .coop__text-last ,
.product__subtitle ,
.product__description ,
// .coop__text-flex ,
.product__swiper-title {
  margin: 0;
}



// ::::::::::::::::: general classes ::::::::::::
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
/* validate-form */
.js-validate-error-label {
  font-size: 12px;

  position: absolute;
  top: -15px;
  left: 18px;
  color: #FF6972 !important;
}
.js-validate-error-field {
  border-color: #FF6972 !important;
}
.contacts__checkbox-wrapper {
  position: relative;
}
.my-label-checkbox + .js-validate-error-label {
  top: calc(100% + 5px);
  bottom: auto;
  left: auto;
}
.my-icon {
  fill: $color-grey;
  &-arrow {
    stroke-width: 2;
    stroke-linecap: round;
    stroke: $violet;
    transition: stroke .2s ease;
  }
}
.swiper-box {
  &-btn {
    &-container {
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: 13px;
      width: fit-content;
      .swiper-button-disabled {
          opacity: 1;
          border-color: $color-grey;
        .swiper-box-icon {
          stroke:$color-grey;
          transition: stroke .2s ease;
        }
      }
    }
    &-next,
    &-prev {
      position: static;
      width: 32px;
      height: 32px;
      border: 2px solid #a65cf0;
      border-radius: 50%;
      padding: 0;
      margin: 0;
      transition-property: border , background;
      transition-duration: .2s;
      transition-timing-function: ease;
    }
    &-next::after,
    &-prev::after {
      content: none;
    }
  }
  &-icon {
    stroke-width: 2;
    stroke-linecap: round;
    stroke:$violet;
  }
  &-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
  }
}
// checkbox
.my-label-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  cursor: pointer;
}
.my-checkbox {
  position: absolute;
  opacity: 0;
  &-custom {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    width: 14px;
    height: 14px;
    margin-right: 8px;
    border: 1px solid $color-grey;
    border-radius: 2px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 1px 2px;
  }
}
.my-input-custom {
  display: block;
  width: 100%;
  height: 54px;
  padding: 7px 16px;
  border: 2px solid $block-fon;
  border-radius: 10px;
  background-color: $block-fon;
  font-size: 16px;
  font-weight: 400;
  color: $text-color;
  transition-property: border , background;
  transition-duration: .2s;
  transition-timing-function: ease;
  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: $color-grey;
  }
}
.header__form-btn ,
.header__dropdow {
  margin: 0;
  padding: 0;
  border:none;
  background-color: transparent;
}
//  Buttons
.btn {
  @include border-container;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  overflow: hidden;
  min-width: 187px;
  max-width: 400px;
  min-height: 54px;
  max-height: 70px;
  padding: 20px 29px;
  font-weight: 700;
  background-color: $violet;
  color: $color-white;
  transition-property: background , border;
  transition-duration: .2s;
  transition-timing-function: ease;
}
.send-form-btn ,
.contact__search-btn {
  min-width: 159px;
  min-height: 54px;
  margin-bottom: 12px;
  padding: 17px 29px;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}
.add-card {
  padding-left: 34px;
  padding-right: 34px;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}
.card-btn {
  display: block;
  width: fit-content;
  max-width: 238px;
  height: 54px;
  padding: 17px 33px;
  border-radius: 10px;
  border: 2px solid transparent;
  border-color: #a65cf0;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  box-sizing: border-box;
  background: 0 0;
  color: #a65cf0;
  overflow: hidden;
  transition-property: color,border,background;
  transition-duration: .2s;
  transition-timing-function: ease;
  transform: translateX(30px);
}
.card-btn-useful,
.card-btn-offer {
  transform: none;
}
// ::::::::::::::::: general classes ::::::::::::

.wrapper {
  height: 100%;
  display: grid;
  min-width: 320px;
  grid-template-areas:
    "head"
    "main"
    "footer";
  grid-template-rows: minmax(201px , auto) 1fr minmax(166px , auto);
  grid-template-columns: 1fr;
}
.wrapper-products {
  .header {
    margin-bottom: 24px;
  }
}
.main {
  grid-area: main;
}
.header {
  grid-area: head;
}
.footer {
  grid-area: footer;
}
.burger {
  position: relative;
  display: none;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 24px;
  height: 24px;
  z-index: 10;
  transition: .5s ease-in-out;
  transform: rotate(0deg);
  &__line {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: $violet;

    transition: .25s ease-in-out;
    transform: rotate(0deg);
    opacity: 1;
  }
  &__line:first-child {
    top: 0px;
  }

  &__line:nth-child(2) {
    top: 11px;
  }

  &__line:last-child {
    top: 21px;
  }
  &down {
    display: none;
    position: absolute;
    width: 100%;
    padding-top: 92px;
    top: calc(100% - 1px);
    z-index: 10;
    background-color:white;
    border-top: 1px solid rgba(0, 0, 0, 0.2);;
    &__contet {
      display: grid;
      grid-template-columns: 1fr minmax(auto , 180px);
      padding: 0 72px;
      padding-bottom: 60px;
    }
    &__list {
      display: grid;
      grid-template-columns: minmax(auto, 144px) 1fr;
      grid-row-gap: 41px;
      list-style: none;
    }
    &__item:nth-child(1) {
      order: 1;
    }
    &__item:nth-child(2) {
      order: 3;
    }
    &__item:nth-child(3) {
      order: 5;
    }
    &__item:nth-child(4) {
      order: 2;
    }
    &__item:nth-child(5) {
      order: 4;
    }
    &__item:nth-child(6) {
      order: 6;
    }
    &__link {
      display: block;
      width: 100%;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
    }
    &__picture {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
    &__bottom {
      display: none;
      min-height: 50px;
      padding: 24px 72px;
      background-color: #f7f7f7;
      &-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 12px;
        justify-content: space-between;
        list-style: none;
      }
    }
  }
}
.burger-active {
  .burger__line:first-child {
    transform: rotate(45deg);
    top: 11px;
  }

  .burger__line:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  .burger__line:last-child {
    transform: rotate(-45deg);
    top: 11px;
  }
}

.grid-box {
  display: grid;
  grid-template-columns: minmax(36px , 1fr) minmax(auto , 1280px)  minmax(36px , 1fr);
}
.title {
  max-width: 90%;
  margin-right: 32px;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
// card elements
.product__counter {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $orange;
}
.card {
  @include container-card;
  position: relative;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  padding-left: 0;
  padding-right: 0;
  max-height: 420px;
  min-width: 296px;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f7f7f7;
  text-align: center;
  &-hidden {
    display: none;
  }
  &__title {
    max-width: 236px;
    max-height: 62px;
    overflow: hidden;
    margin-bottom: 22px;
    font-size: 24px;
    text-align: left;
    font-weight: 400;
    line-height: 31px;
    word-break: break-word;
    &_margin_bottom {
      margin-bottom: 10px;
    }
  }
  &__cnt-box {
    margin-bottom: 23px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: left;
  }
  &__price {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: $color-grey;
    &-box {
      display: flex;
      align-items: flex-end;
      margin-bottom: 23px;
      font-weight: 400;
    }
    &_new {
      margin-right: 31px;
      font-size: 18px;
      line-height: 23px;
      color: $orange;
    }
    &_old {
      text-decoration: line-through;
      line-height: 20px;
    }
  }
  &__star {
    display: flex;
    align-items: center;
    margin-bottom: 11px;
    padding: 0 30px;
    text-align: left;
    &-counter {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      color: $orange;
    }
    &-icon {
      margin-right: 7px;
    }
  }

  &__picture {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 130px;
    margin-bottom: 17px;
  }
  &__img {
    display: block;
  }
  &_offer {
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    width: 296px;
    min-height: 511px;
    padding: 37px 30px 30px 30px !important;
      &_center {
      width: 624px;
      .card__offer-picture {
        align-items: center;
        transform: translateX(3px);
      }
    }
  }
  &__offer {
    &-picture {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 245px;
      margin-bottom: 17px;
    }

    &-img_last {
      transform: translateX(1px);
    }
  }
  &__discount {
    position: absolute;
    height: 34px;
    min-width: 82px;
    max-width: 150px;
    top: 30px;
    left: 0;
    background-color: $orange;
    font-size: 14px;
    font-weight: 700;
    line-height: 34px;
    color: white;
    &::after {
      content: '';
      position: absolute;
      right: -10px;
      border-top: 17px solid transparent;
      border-left: 10px solid $orange;
      border-bottom: 17px solid transparent;
    }
  }
}

// tooltip
.tooltip {
  position: relative;
  display: inline-block !important;
  &__btn {
    width: 14px;
    height: 14px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    line-height: 14px;
    border: 1px solid $orange;
    border-radius: 50%;
    color: $orange;
    background-color: transparent;
    transform: translateX(1px) translateY(-1px);
    transition-property: color , background;
    transition-duration: .2s;
    transition-timing-function: ease;
  }
  &__text {
    position: absolute;
    display: block;
    padding: 5px;
    right: -72px;
    bottom: 23px;
    width: 157px;
    min-height: 52px;
    font-size: 9px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    background-color: $text-color;
    color: white;
    opacity: 0;
    transition: opacity .2s ease;
  }
  &__text::before {
    content:'';
    display:block;
    width:0;
    height:0;
    position:absolute;

    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid $text-color;
    left:calc(50% - 5px);
    bottom: -10px;
    transform: rotate(-90deg);
  }
}
.section {
  padding-bottom: 70px;
}
// header
.header {
  grid-template-rows: repeat(3 , auto);
  grid-row-gap: 32px;
  margin-bottom: 32px;
  &__logo {
    display: block;
    &-top {
      display: none;
      width: fit-content;
      justify-self: center;
      margin-bottom: 21px;
    }
    &-img {
      display: block;
    }
  }

  &__opinion{
    border: none;
    width: 100%;
    text-align: left;
    background-color: white;
  }
  &__container {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: minmax(auto , 370px) minmax(auto , 710px);
    justify-content: space-between;
    align-items: center;
  }
  &__select-box {
    display: flex;
    align-items: center;
  }
  &__my-select {
    display: flex;
    align-items: center;
    margin-right: 26px;
    padding-top: 2px;
    .focus-visible {
      background-color: $pink_violet;
      .choices__inner .choices__item--selectable {
        color: #7033AC;
      }
      &::after {
        border-bottom: 1px solid #7033AC;
        border-right: 1px solid #7033AC;
      }
    }
  }
  &__center ,
  &__bottom {
    grid-column: 2 / 3;
    display: grid;
    justify-content: space-between;
  }
  &__nav {
    margin-right: 3px;
    &-list {
      display: flex;
      height: 100%;
      padding-top: 2px;
      justify-content: space-between;
      align-items: center;
      list-style: none;
    }
    &-item:not(:last-child) {
      margin-right: 15px;
    }
    &-link {
      transition-property: color , background;
      transition-timing-function: ease;
      transition-duration: .2s;
    }
  }
  &__top {
    position: relative;
    grid-column: 1 / 4;
    height: 50px;
    background-color: #F7F7F7;
    &-basket {
      display: none !important;
    }
    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style: none;
      line-height: 22px;
      font-size: 14px;
      font-weight: 400;
      color: $color-grey;
    }
    &-item:not(:nth-last-child(2) , :last-child) {
      margin-right: 15px;
    }
    &-link {
      transition-property: color , background;
      transition-timing-function: ease;
      transition-duration: .2s;
    }
  }
  &__center {
    position: relative;
    grid-row: 2 / 3;
    grid-template-columns: minmax(auto , 187px) minmax(auto , 952px);
    grid-column-gap: 20px;
    &::after , &::before {
      content: '';
      display: none;
      position: absolute;
      height: 1px;
      left: -35px;
      right: -35px;
      background-color: #F7F7F7;
    }
    &::before {
      top: -10px;
    }
    &::after {
      bottom: -14px;
    }
    &-basket {
      display: none !important;
    }
  }
  &__bottom {
    grid-row: 3 / 4;
    height: 60px;
    grid-template-columns: minmax(auto , 1061px) minmax(auto , 99px);
    grid-column-gap: 20px;
  }
  &__form {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 761px;
    align-items: center;
    &-btn {
      width: 32px;
      height: 32px;
      border: 2px solid $violet;
      border-radius: 50%;
      position: absolute;
      right: 32px;
      transition-property: background , border;
      transition-duration: .2s;
      transition-timing-function: ease;
    }
    &-box {
      z-index: 5;
      display: flex;
    }
    &-search {
      position: absolute;
      left: 34px;
      transform: translateY(1px);
    }
    &-input {
      height: 60px;
      width: 100%;
      padding-left: 57px;
      padding-right: 32px;
      padding-top: 21px;
      padding-bottom: 19px;
      border: 2px solid #F7F7F7;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      background-color: #F7F7F7;
      transition-property: border , background;
      transition-timing-function: ease;
      transition-duration: .2s;
    }
  }
  &__phone {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: $orange;
    transition-property: color , background;
    transition-timing-function: ease;
    transition-duration: .2s;
    &-icon {
      margin-right: 2px;
      fill: $orange;
      transition: fill .2s ease;
    }
  }
  &__dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 100%;
    padding: 0 30px;
    border: 2px solid #F7F7F7;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: transparent;
    color: $violet;
    transition-property: border , background;
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
    &-box {
      position: relative;
      z-index: 2;
    }
    &-icon {
      transform: translateY(2px);
      transition: transform .3s ease;
    }
    &-list {
      @include border-container;
      position: absolute;
      display: none;
      grid-template-columns: 1fr 1fr;
      left: 0;
      top: calc(100% - 18px);
      width: 100%;
      padding: 40px 30px 12px 30px;
      border-top: none;
      border-color: #F7F7F7;
      list-style: none;
      background-color: white;
      z-index: -1;
    }
    &-item {
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
      margin-bottom: 10px;
    }
    &-link {
      transition-property: color , background;
      transition-duration: .2s;
      transition-timing-function: ease;
    }
  }
  &__basket {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1px;
    &-link {
      position: relative;
      transition: background .2s ease;
      &::after {
        height: 100%;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: -15px;
        z-index: -1;
        transition: background .2s ease;
      }
    }
    &-counter {
      position: absolute;
      width: 14px;
      height: 15px;
      left: -11px;
      top:5px;
      border-radius: 50%;
      font-size: 10px;
      font-weight: 700;
      line-height: 15px;
      text-align: center;
      background-color: $orange;
      color: white;
    }
  }
  &__basket-icon ,
  &__user-icon {
    transition: fill .2s ease;
    fill: $violet;
  }
}
.header_head {
  margin-bottom: 23px;
}

@include keyframes(progress) {
  0% {
      stroke-dashoffset: 75;
  }
  95% {
      stroke-dashoffset: 0;
  }
  100% {
      stroke-dashoffset: 0;
  }
}


// hero
.hero {
  &__swiper {
    z-index: 0;
  }
  &__content {
    grid-column: 2 / 3;
    padding-top: 82px;
    padding-bottom: 80px;
  }
  &__title {
    max-width: 496px;
    margin-bottom: 48px;
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    color: $color-grey;
  }
  &__btn {
    display: none;
    min-height: 60px;
  }
  &__btn:disabled {
    background-color: $footer-color !important;
    border-color: $footer-color;
    color: $color-grey;
  }
  &__wrapper > .swiper-slide-active > .hero__content >.hero__btn {
    display: block;
  }
  &__slide {
    width: 100%;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__slide:first-child {
    background-image: image-set(url(img/hero-1.jpg) 1x , url(img/hero-1@2x.jpg) 2x);
  }
  &__slide:nth-child(2) {
    background-image: image-set(url(img/hero-2.jpg) 1x , url(img/hero-2@2x.jpg) 2x);
  }
  &__slide:nth-child(3) {
    .hero__title {
      max-width: 580px;
      color: white;
    }
    background-image: image-set(url(img/hero-3.jpg) 1x , url(img/hero-3@2x.jpg) 2x);
  }
  &__pagination {
    width: 100%;
    bottom: 21px !important;
    .swiper-pagination-bullet {
      height: 16px;
      width: 16px;
      background-color: transparent;
      opacity: 0.3;
      margin: 0 7px !important;
    }
    .swiper-pagination-bullet--svg-animation {
      stroke: #FF862F;
    }
    .swiper-pagination-bullet-active {
      opacity: 1;
      .svg__circle {
        stroke: white;
        stroke-dasharray: 75;
        stroke-dashoffset: 0;
        @include animation(progress 9s linear 1 forwards);
      }
    }
  }
}
// offer
.card-sofa {
  position: absolute;
  display: block;
  bottom: 28px;
  right: 30px;
}
.offer {
  &__swiper {
    grid-column: 2 / 3;
    width: 100%;
    min-width: 0;
  }
  &__wrapper {
    height: fit-content;
    min-width: 0;
    position: relative;
    .swiper-slide-active ,
    .swiper-slide-active + .card_offer ,
    .swiper-slide-active + .card_offer + .card_offer {
      .card-btn{
        display: block;
      }
    }
  }
  .card-btn {
    display: none;
  }
}
// calificaciones
.calificaciones {
    grid-template-rows: repeat(3 , auto);
    grid-row-gap: 26px;
  &__title {
    grid-column: 2 / 3;
  }
  &__list {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template: repeat(2 , auto) / repeat(auto-fill , minmax(296px , 1fr));
    grid-auto-rows: auto;
    grid-gap: 32px;
    list-style: none;
  }
  &__last-box {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    padding-top: 6px;
  }
}
// ocsford
.ocsford {
  color: white;
  &__background {
    background-image: image-set(url(img/ocsford.jpg) 1x, url(img/ocsford@2x.jpg) 2x);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__container {
    grid-column: 2 / 3;
    padding-top: 157px;
    padding-bottom: 150px;
  }
  &__title {
    font-family: 'playfair',Arial, sans-serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 71px;
    color: #D5B986;
  }
  &__description {
    max-width: 500px;
    margin-bottom: 47px;
    font-size: 48px;
    font-weight: 500;
    line-height: 57.6px;
  }
}

.go-catalog-text {
  margin-right: 6px;
  border-bottom: 2px solid transparent;
  transform: translateY(1px);
  transition-property:border , color;
  transition-duration: .2s;
  transition-timing-function: ease;
}
.go-catalog-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  width: 22px;
  border: 2px solid $violet;
  border-radius: 50%;
  box-sizing: border-box;
  transition-property:border , background;
  transition-duration: .2s;
  transition-timing-function: ease;
}
.go-catalog-svg {
  transition: stroke .2s ease;
}
// category
.category {
  &__title  {
    margin-bottom: 26px;
  }
  &__container {
    grid-column: 2 / 3;
  }
  &__list {
    display: grid;
    grid-template: repeat(2 , minmax(405px , auto)) / repeat(6 , 1fr);
    grid-auto-rows: minmax(405px , auto);
    grid-gap:32px 32.5px;
  }
  &__item {
    position: relative;
    list-style: none;
    padding-top: 30px;
    padding-bottom: 0;
    background-color: #F7F7F7;
    border-radius: 10px;
    &-big{
      grid-column: span 3;
      padding-bottom: 82px;
    }
    &-middle {
      grid-column: span 2;
    }
    &-title ,
    &-title-first {
      display: flex;
      align-items: center;
      max-width: 100%;
      margin-bottom: 30px;
      padding-left: 30px;
      padding-right: 30px;
      word-wrap: break-word;
      font-size: 24px;
      font-weight: 400;
      line-height: 31px;
      text-align: left;
    }
  }
  &__nav {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
    padding: 0 30px;
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: $color-grey;
    &-item {
      margin-bottom: 8px;
    }
    &-item:not(:last-child) {
      margin-right: 31px;
    }
    &-dressers {
      .category__nav-item:not(:last-child) {
        margin-right: 27px;
      }
    }
    &-chairs {
      .category__nav-item-item:not(:last-child) {
        margin-right: 43px;
      }
    }
    &-link {
      transition:color .2s ease;
    }
  }
  &__picture {
    display: flex;
    justify-content: flex-start;
  }
  &__link {
    position: absolute;
    display: flex;
    align-items: center;
    left: 30px;
    bottom: 30px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: $violet;
  }
}
.category__link-hidden {
  transform: translateX(5px);
  display: none;
}
// useful
.useful {
  &__swiper {
    grid-column: 2 / 3;
    width: 100%;
    min-width: 0;
  }
  &__wrapper {
    height: fit-content;
    min-width: 0;
    position: relative;
    .swiper-slide-active ,
    .swiper-slide-active + .useful__slide {
      .card-btn {
        display: block;
      }
    }
  }
  &__slide {
    display: grid;
    height: auto;
    padding-bottom: 30px;
    grid-template-rows: auto 1fr;
    padding-top: 0;
    border-radius: 10px;
    background-color: #F7F7F7;
    overflow: hidden;
  }
  &__picture {
    display: block;
  }
  &__img {
    max-height: 426px;
    margin-bottom: 29px;
  }
  &__content {
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 0 30px;
  }
  &__subtitle {
    margin-bottom: 36px;
    max-width: 567px;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
  }
  .card-btn {
    display: none;
  }
}
// contacts
.contacts {
  &__container {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;
  }
  &__title {
    margin-bottom: 9px;
  }
  &__paragraph {
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
  }
  &__form  {
    position: relative;
  }
  &__form ,
  &__label {
    display: block;
    width: 100%;
  }
  &__label {
    position: relative;
    height: 54px;
    margin-bottom: 30px;
  }
  &__checkbox {
    &-link {
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      text-decoration: underline;
      color: $violet;
      transform: translateX(4px);
    }
  }
  &__picture {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__img {
    display: block;
    object-fit: cover;
  }
}
.footer {
  grid-template-rows: 1fr 30px;
  background: linear-gradient(180deg, #EAEAEA calc(100% - 30px), #F7F7F7 30px);
  &__content {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: minmax(209px , auto) minmax(auto , 843px);
    justify-content: space-between;
    padding-top: 24px;
  }
  &__bottom {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: $color-grey;
  }
  &__right {
    display: grid;
    grid-template-columns: auto minmax(38px , 1fr) minmax(auto , 154px) minmax(38px , 1fr) minmax(auto , 141px) minmax(38px , 1fr) auto;
    padding-top: 3px;
    list-style: none;
    &-child:nth-child(1){
      grid-column: 1 / 2;
    }
    &-child:nth-child(2){
      grid-column: 3 / 4;
    }
    &-child:nth-child(3){
      grid-column: 5 / 6;
    }
    &-child:nth-child(4){
      grid-column: 7 / 8;
    }
  }
  &__lits {
    list-style: none;
  }
  &__item {
    margin-bottom: 10px;
  }
  &__subtitle ,
  &__link {
    font-weight: 400;
  }
  &__subtitle {
    margin-bottom: 7px;
    font-size: 16px;
    line-height: 16px;
  }
  &__link {
    display: block;
    font-size: 14px;
    line-height: 14px;
    color: $color-grey;
    transition-property: background , color;
    transition-duration: .2s;
    transition-timing-function: ease;
  }
  &__logo {
    margin-bottom: 29px;
    &-img {
      margin-bottom: 29px;
    }
  }
}
.social {
  display: flex;
  flex-wrap: wrap;
  max-width: 280px;
  list-style: none;
  &__item:not(:last-child) {
    margin-right: 20px;
  }
  &__svg {
    transition: fill .2s ease;
    fill: $color-grey;
  }
  &__link {
    display: block;
    transition: background .2s ease;
  }
}
.dropdown_is_active .header__dropdown-icon {
  transform: rotate(180deg);
}
.custom-select-trigger {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  transition-property: color , background;
  transition-timing-function: ease-in-out;
  transition-duration: .2s;
}
.custom-options {
  z-index: 11;
}

//  ::::::::::::::: page catalog :::::::::::::

.catalog-main {
  display: grid;
  grid-template-columns: minmax(36px , 1fr) minmax(auto , 328px) minmax(auto , 952px) minmax(36px , 1fr);
}
.filter {
  &-aside {
    grid-column: 2 / 3;
    color: $grey-shade;
    margin-right: 32px;
  }
  &__category {
    margin-bottom: 22px;
  }
  &__discount {
    margin-bottom: 27px;
  }
  &__color {
    margin-bottom: 31px;
  }
  &__category ,
  &__discount ,
  &__color {
    list-style: none;
  }
}
.section-catalog {
  grid-column: 3 / 4;
}
.catalog-checkbox-custom {
  width: 20px;
  height: 20px;
  background-position: center center;
  background-size: 13px;
}
.breadcrumps {
  display: flex;
  grid-column: 2 / 4;
  margin-bottom: 32px;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: $color-grey;
  &__item {
    display: flex;
    transition: color .2s ease;
    margin-right: 6px;
    &:not(:first-child) {
      &::before {
        display: block;
        content: '/';
        height: 100%;
        width: 9px;
        color: #999;
      }
    }
    &:nth-last-child(2) {
      margin-right: 3px;
    }
    &-hidden {
      display: none;
    }
  }
  &__product__link {
    transition: color .2s ease;
  }

  &__product__link:hover,
  &__item:hover {
    color: $violet-light;
  }
  .focus-visible {
    background-color: $pink_violet;
  }
  &__product__link:active,
  &__item:active {
    color: $violet;
  }
}
.catalog-header {
  margin-bottom: 23px;
}
.filter__category-item-hidden ,
.filter__color-item-hidden {
  display: none;
}
.checkbox-filter {
  margin-right: 12px;
}
.filter__label-checkbox {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}
.filter-item {
  margin-bottom: 11px;
  width: fit-content;
  &-last {
    .focus-visible {
      background-color: $violet-light;
      color: white;
    }
  }
}
.filter__title {
  margin-bottom: 21px;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}
.filter__subtitle {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
}
.filter__first-item {
  margin-bottom: 8px;
}

// prices catalog
.filter__prices * {
  box-sizing: border-box;
  outline: none;
}
.filter__prices {
  display: grid;
  grid-template-columns: 113px 113px;
  grid-template-rows: auto auto auto;
  justify-content: space-between;
  grid-column-gap: 10px;
  margin-bottom: 37px;
  .ui-slider {
    position: relative;
    background: #EAEAEA;
    height: 3px;
    border-radius:3px;
    border:none;
    .ui-slider-handle {
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 13px solid #A65CF0;
      border-top:none;
      position: absolute;
      cursor: pointer;
      top: 0px;
      background: none;
      margin-left: -7px;
      transition-property: border , transform;
      transition-duration: .2s;
      transition-timing-function: ease;
    }
    .ui-slider-range {
      position: absolute;
      height: 3px;
      background: #A65CF0;
      border-radius:3px;
      transition: background .3s ease;
    }
  }
}
.price-subtitle ,
.filter__prices-line {
  grid-column: 1 / 3;
}
.price-subtitle {
  margin-bottom: 4px;
}
.filter__prices .ui-slider .ui-slider-handle:hover,
.filter__prices .ui-slider .ui-slider-handle:focus {
  transform: scale(1.3) translateY(1px);
}
.filter__prices .ui-slider .ui-slider-handle:hover {
  border-bottom-color: $violet-light;
}
.filter__prices .ui-slider .ui-slider-handle:focus,
.filter__prices .ui-slider .ui-slider-handle:active {
  border-bottom-color: $violet-dark;
}
.filter__prices .ui-slider .ui-slider-handle:focus .ui-slider-handle,
.filter__prices .ui-slider .ui-slider-handle:active .ui-slider-handle{
  background-color: $violet-dark;
}
.filter__prices-input {
  max-width: 86px;
  height: 30px;
  padding-left: 11px;
  font-size: 16px;
  font-weight: 400;
  color: $grey-shade;
  border: 1px solid $color-grey;
  border-radius: 2px;
  transition: border .3s ease;
  &:hover {
    border-color: $violet;
  }
  &:active {
    border-color: $violet-dark;
  }
  &:focus {
    border-color: $violet;
    background-color: $pink_violet;
  }
}
.filter__prices-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.my-btn-catalog {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color:$violet;
  box-sizing: border-box;
  border-bottom: 1px solid transparent;
  transition-property: color , border;
  transition-duration: .3s;
  transition-timing-function: ease;
  &:hover {
    border-color: $violet;
  }
  &:active {
    color: $violet-dark;
    border-color: $violet-dark;
  }
}
.banner {
  width: 100%;
  min-height: 360px;
  border-radius: 10px;
  background-color: #333333;
  &__picture ,
  &__img {
    display: block;
  }
  &__content {
    padding: 32px 30px 30px 30px;
  }
  &__title {
    font-family: 'playfair',Arial,sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 30px;
    color: #d5b986;
  }
  &__text {
    max-width: 200px;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #999;
  }
  &__link {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: $violet;
    &-text {
      margin-right: 0;
    }
  }
  &__circle {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    border: 2px solid $violet ;
    border-radius: 50%;
  }
  &__svg {
    stroke: $violet;
    stroke-width: 2;
  }
}
//  ::::::::::::::: page catalog :::::::::::::
.catalog {
    position: relative;
    min-width: 0;
  &-main {
    padding-bottom: 70px;
  }
  &-title, 
  &__title{
    width: fit-content;
    margin-right: 18px;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
  }
  &__title {
    align-self: flex-start;
    &-box {
      display: flex;
      align-items: flex-end;
      margin-bottom: 15px;
    }
    &-list {
      display: flex;
      min-height: 40px;
      grid-auto-columns: auto;
      grid-auto-rows: auto;
      align-items: center;
      flex-wrap: wrap;
    }
    &-item {
      display: flex;
      align-items: center;
      height: 30px;
      width: fit-content;
      margin-bottom: 10px;
      padding: 0 7px 3px 9px;
      border-radius: 3px;
      &:first-child {
        background-color: #DAFFD1;
      }
      &:nth-child(2) {
        background-color:  #FFF5D1;
      }
      &:nth-child(3) {
        background-color: #EBD1FF;
      }
      &:nth-child(4) {
        background-color: #EAEAEA;
      }
      .focus-visible {
        background-color: $pink_violet;
        &::before,
        &::after {
          background-color: $violet-dark;
        }
      }
    }
    &-item:not(:last-child) {
      margin-right: 20px;
    }
    &-btn {
      position: relative;
      width: 12px;
      height: 14px;
      margin: 0;
      padding: 0;
      background-color: transparent;
      border: none;
      transition:background-color .3s ease-in-out;
      &:hover::before ,
      &:hover::after {
        background-color: $violet;
      }
      &:active::before ,
      &:active::after {
        background-color: $violet-dark;
      }
      &:before,&:after{
        content: '';
        position:absolute;
        width: 12px;
        height:1px;
        background-color:#666;
        border-radius:2px;
        top:7px;
        transition:background-color .3s ease-in-out;
      }
      &:before{
          -webkit-transform:rotate(45deg);
          -moz-transform:rotate(45deg);
          transform:rotate(45deg);
          left:0;
      }
      &:after{
          -webkit-transform:rotate(-45deg);
          -moz-transform:rotate(-45deg);
          transform:rotate(-45deg);
          right:0;
      }
    }
    &-info {
      margin-right: 8px;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      color: #666;
    }
  }

  &-swiper {
    width: 100%;
    height: 1324px;
    margin-bottom: 32px;
    .swiper-slide {
      height: calc((100% - 64px) / 3);
    }
  }
  &__pagination {
    position: static;
    .swiper-pagination-bullet {
      margin: 0 8px !important;
      width: 32px;
      height: 32px;
      text-align: center;
      line-height: 28px;
      font-size: 16px;
      font-weight: 600;
      color: $violet;
      opacity: 1;
      background: transparent;
      box-sizing: border-box;
      border: 2px solid $violet;
      border-radius: 10px;
      transition-property: border , background , color;
      transition-duration: .3s;
      transition-timing-function: ease;
      &:hover {
        border-color: $violet;
        background-color:$violet ;
        color: white;
      }
      &-active ,
      &:active {
        border-color: $violet-dark;
        background-color:$violet-dark ;
        color: white;
      }
    }
    .focus-visible {
      border-color: $violet;
      background-color:$violet-light ;
      color: white;
      outline: none;
    }
  }
  &__nav {
    &-box ,
    &-list {
      display: none;
    }
    &-box {
      align-items: flex-start;
      margin-bottom: 32px;
      &-list {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fill, 187px);
        align-items: center;
        grid-column-gap: 31.5px;
        grid-row-gap: 16px;
        list-style: none;
      }
    }
    &-title {
      min-width: 77px;
      margin-right: 32px;
      font-size: 14px;
      font-weight: 400;
      line-height: 40px;
    }
    &-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 40px;
      width: 187px;
      margin: 0;
      padding: 0 14px;
      border: 2px solid transparent;
      border-radius: 10px;
      background: #F7F7F7;
      text-align: left;
      color: #333;
      transition: border .3s ease;
      &-icon {
        transition: transform .3s ease;
      }
    }
    &-cnt {
      position: relative;
      z-index: 2;
    }
    &-list {
     position: absolute;
     top: 50%;
     left: 0;
     width: 100%;
     margin: 0;
     padding: 40px 13px 30px 30px;
     background: #FFFFFF;
     border-radius: 0px 0px 10px 10px;
     border: 1px solid #EAEAEA;
     box-sizing: border-box;
     z-index: -1;
    }
  }
  &__price-label {
    margin: 0;
  }
  &__price-label:not(:last-child) {
    margin-bottom: 12px;
  }
}

// ::::::::::::::: page product ::::::::::::::::
.product {
    position: relative;
    grid-column: 2 / 3;
    display: grid;
    grid-template: auto / minmax(515px , 624px) minmax(405px , 624px);
    grid-column-gap: 32px;
  &__img {
    max-height: 245px;
    display: block;
    width: auto;
    margin-bottom: 16px;
    &-box {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding:10px 25px;
      margin-bottom: 32px;
      overflow: hidden;
      background-color: #F7F7F7;
      .product__picture:not(:last-child) {
        margin-right: 38px;
      }
    }

    &-view {
      width: auto;
      height: auto;
      max-width: 137px;
      margin-bottom: 0;
      cursor: pointer;
      transition: background .3s ease;
      &:hover {
        background-color: rgba(51, 51, 51 , 0.15);
      }
      &:focus {
        outline-offset: 3px;
        outline :2px solid #999;
      }
    }
    &-description {
      display: block;
      margin: 0;
      width: 247px;
      height: 113px;
    }
    &-slider {
      cursor: pointer;
      transition: transform .3s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &__picture-slider {
    display: block;
    overflow: hidden;
  }
  &__subtitle {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
  }
  &__description {
    margin-bottom: 105px;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    &-span {
      display: block;
      padding-top: 8px;
    }
    &-images {
      display: flex;
      margin-bottom: 80px;
    }
    &-pcture {
      display: block;
      max-width: 247px;
      max-height: 113px;
      &:not(:last-child) {
        margin-right: 32px;
      }
    }
  }
  &__star {
    margin-bottom: 2px;
  }
  &__small {
    display: block;
    margin-bottom: 21px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #999;
  }
  &__wrapper {
    .card-btn {
      display: none;
    }
    .swiper-slide-active ,
    .swiper-slide-active + .card,
    .swiper-slide-active + .card + .card ,
    .swiper-slide-active + .card + .card + .card{
      .card-btn {
        display: block;
      }
    }
  }
  &__cnt-right {
    padding-top: 16px;
  }
  &__title {
    margin-bottom: 4px;
  }
  &__price {
    margin-bottom: 21px;
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
  }
  &__btn {
    height: 54px;
    margin-bottom: 13px;
    padding: 18px 33px 20px 34px;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
  }
  &__characteristic {
    &-list {
      max-width: 544px;
    }
    &-item {
      position: relative;
      display: grid;
      grid-template-columns: auto minmax(auto , 216px);
      justify-content: space-between;
      overflow: hidden;
      font-size: 14px;
      font-weight: 400;
      line-height: 25px;
      color: $color-grey;
      &::before {
        position: absolute;
        display: block;
        content: '..................................................................................................';
        left: 0;
        top: 0;
        letter-spacing: 0.9px;
      }
    }
    &-variable ,
    &-text {
      width: max-content;
      display: block;
      background-color: #fff;
      z-index: 1;
    }
    &-text {
      padding-right: 4px;
    }
    &-variable {
      width: 100%;
      color: $text-color;
    }
  }
  &__top-content {
    margin-bottom: 25px;
  }
  &__swiper {
    position: relative;
    grid-column: 1 / 3;
    height: fit-content;
    width: 100%;
    min-width: 0;
    margin-bottom: 70px;
    &-title {
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      transform: translateY(2px);
    }
  }
  &__slide {
    height: 420px;
  }
  &__modal-buy-box ,
  &__modal-box {
    display: none;
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    padding-top: 7.4%;
    background-color: rgba(51, 51, 51 , 0.3);
    z-index: 30;
  }
  &__modal-buy ,
  &__modal-cnt {
    position: relative;
    max-width: 1280px;
    max-height: 684px;
    padding-top: 50px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    .focus-visible {
      background-color: $pink_violet;
      color: $violet-dark;
    }
  }
  &__modal-cnt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__picture {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  &__modal-buy  {
    display: grid;
    grid-template-columns:minmax(auto , 564px);
    max-height: fit-content;
    height: fit-content;
    padding: 30px;
  }
  &__modal-buy-box {
    padding-top: 9.4%;
  }
  &__modal-buy-text {
    max-width: 375px;
    margin-bottom: 30px;
  }
  &__left-swiper {
    position: relative;
    width: 100%;
    height: 166px;
    padding:20px 51px;
    background-color: #F7F7F7;
  }
  &__left-btn-prev ,
  &__left-btn-next {
    display: none;
  }
  &__left-btn-prev {
    position: absolute;
    left: 16px;
  }
  &__left-btn-next {
    position: absolute;
    right: 16px;
  }
  &__left-btn-next.swiper-button-disabled,
  &__left-btn-prev.swiper-button-disabled {
    opacity: 1;
    cursor: auto;
    pointer-events: none;
    border-color: $color-grey;
    .swiper-box-icon {
      stroke: $color-grey;
    }
  }
  &__left-slide {
    position: relative;
    display: flex;
    justify-content: center;
    height: 126px;
    width: fit-content !important;
    cursor: pointer;
    &::after {
      position: absolute;
      content: '';
      top: -20px;
      bottom: -20px;
      left: -10px;
      right: -10px;
      transition: background .3s ease;
    }
    &:hover::after {
      background-color: rgba(51 ,51 ,51 ,0.15);
    }
    &-btn {
      position: absolute;
      margin: 0;
      padding: 0;
      border: none;
      background-color: none;
      opacity: 0;
      z-index: -1;
    }
  }
  &__img-modal-view {
    margin: 0 !important;
    height: 126px;
    width: auto;
    max-width: 100%;
  }
  &__modal-img {
    margin-bottom: 50px;
    max-width: 1065px;
    max-height: 418px;
  }
  &__modal-picture {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__modal-buy-cancel,
  &__modal-cancel {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 5;
    &:hover::before ,
    &:hover::after {
      background-color: $violet;
    }
    &:active::before ,
    &:active::after {
      background-color: $violet-dark;
    }
    &:before,&:after{
      content: '';
      position:absolute;
      width: 25px;
      height:2px;
      background-color:#999;
      border-radius:5px;
      transition:background-color .3s ease-in-out;
    }
    &:before{
        -webkit-transform:rotate(45deg);
        -moz-transform:rotate(45deg);
        transform:rotate(45deg);
        left:0;
    }
    &:after{
        -webkit-transform:rotate(-45deg);
        -moz-transform:rotate(-45deg);
        transform:rotate(-45deg);
        right:0;
    }
  }
  &__characteristic-list-hidden {
    display: none;
    margin-bottom: 32px;
  }
  &__cnt-right-hidden {
    display: none;
  }
  &__cnt-left-grid {
    display: flex;
    align-items: center;
  }
}
.add-to-basket {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  border-bottom: 1px solid transparent;
  color: $violet;
  transition-property: color , border;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  &-box {
    display: block;
    width: 100%;
    margin-bottom: 110px;
    padding: 0 30px;
    .focus-visible {
      background-color: $pink_violet;
      color: $violet-dark;
    }
  }
  &:hover {
    border-color: $violet;
  }
  &:active {
    color: $violet-dark;
    border-color: $violet-dark;
  }
}
.modal-left-parent-active {
  &::after {
    position: absolute;
    content: '';
    top: -20px;
    bottom: -20px;
    left: -10px;
    right: -10px;
    background-color: rgba(51 ,51 ,51 ,0.15);
    border: 2px solid $violet;
  }
}
.form-response {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  right: 0;
  bottom: -5px;
  justify-content: center;
  align-items: flex-end;
  background-color: #fff;
  background-position: left 45% top 12%;
  background-repeat: no-repeat;
  background-size: 180px 180px;
  z-index: 3;
  color: #333;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  line-height: 25px;
  padding-bottom: 100px;
}
// :::::::::::contact:::::::::::::
.contact {
  grid-column: 2 / 3;
  margin-bottom: 70px;
  overflow: hidden;
  &__title {
    margin-bottom: 16px;
  }
  &__form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 32px;
    max-width: 776px;
    margin-bottom: 32px;
  }
  &__search-btn {
    margin: 0;
    min-width: 120px;
  }
}

// ::::::::::::cooperation::::::::::::::::
.coop {
  h2 {
    max-width: 90%;
    margin-bottom: 33px;
    margin-right: 32px;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
  }
  h3 {
    margin: 0;
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
  }

  p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    color: $grey-shade;
  }

  picture ,
  img {
    flex-shrink: 0;
    display: block;
    width: 77px;
    height: 115px;
    margin-right: 32px;
  }

  svg {
    margin-right: 12px;
    flex-shrink: 0;
  }

  ul{
    padding: 0;
    margin: 0;
  }

  ol {
    padding-inline-start: 18px;
    li {
      padding-left: 8px;
   }
  }

  h4 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: $orange;
  }

  li::marker {
    font-size: 16px;
    font-weight: 600;
    line-height: 29px;
    color: $orange;
  }

  .svg-li {
    display: flex;
    align-items: flex-start;
    p {
      max-width: 587px;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: $grey-shade;
    }
  }

  li {
    margin-bottom: 32px;
    max-width: 842px;
    &:nth-child(5)  {
      display: flex;
      margin: 0;
      align-items: center;
      p {
        max-width: 515px;
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
      }
    }
    li:not(:last-child) {
      margin-bottom: 12px;
    }
    &:nth-child(3) h3 {
      margin-bottom: 9px;
    }
    &:nth-child(3) {
      li{
        margin-bottom: 32px;
        max-width: 842px;
        &:not(:last-child) {
          margin-bottom: 9px;
        }
      }
    }
  }
}
// ::::::::::::cooperation::::::::::::::::

.ymaps-2-1-79-map-copyrights-promo ,
.ymaps-2-1-79-copyright__wrap ,
.ymaps-2-1-79-zoom {
  display: none !important;
}
.ymaps-2-1-79-balloon__close-button {
  width: 10px !important;
  height: 10px !important;
  margin-top: 20px !important;
  margin-right: 20px !important;
}
.ymaps-2-1-79-balloon__content {
  padding: 30px !important;
  margin: 0 !important;
  border-radius: 10px;
  color: #333 !important;
}
.ymaps-2-1-79-balloon__layout {
  background: transparent !important;
}
.ymaps-2-1-79-balloon {
  box-shadow: none !important;
}
.ymaps-2-1-79-search__suggest {
  border: none !important;
  border-radius: 10px;
  overflow: hidden;
}
.ymaps-2-1-79-suggest-item {
  margin: 0 !important;
  margin-bottom: -1px !important;
  &:not(:last-child) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #EAEAEA;
  }
  &:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  transition: border .2s ease;
  &:hover {
    border-color: #f7f7f7;
  }
  &:active {
    border-color: #EAEAEA;
  }
  &:focus {
    border-color: #C998FB;
  }
}
.ymaps-2-1-79-search__suggest-item {
  padding: 5px 18px !important;
  transition: background .2s ease;
  &:hover {
    background-color: #F7F7F7 !important;
  }
  &:active {
    background-color: #EAEAEA !important;
  }
  &_selected_yes {
    background-color: #F8EFFF !important;
  }
}
#suggest {
  border:1px solid #F6F6F6; 
  &:hover {
    border-color: #EAEAEA;
  }
  &:focus {
    border-color: $violet;
  }
}
// states

// select
.custom-select-trigger:hover {
  color: $violet-light;
}
.custom-select-trigger:hover::after {
  border-color: $violet-light;
}
.custom-select .focus-visible {
  background-color: $pink_violet;
  color: $violet-dark;
}
.custom-select .focus-visible::after {
  border-color: $violet-dark;
}
.custom-select-trigger:active {
  color: $violet-dark;
}
.custom-select-trigger:active::after {
  border-color: $violet-dark;
}
// tooltip
.contacts__tooltip .focus-visible + .tooltip__text ,
.tooltip__btn:hover + .tooltip__text {
  opacity: 1;
}
.tooltip__btn:hover ,
.contacts__tooltip .focus-visible {
  color: white;
  background-color: $orange;
}
// header
.header__phone:hover {
  color: #FFBD59;
}
.header__phone:hover {
  .header__phone-icon {
    fill: #FFBD59;
  }
}
.header__phone:active {
  color: #BB370E;
}
.header__phone:active .header__phone-icon {
  fill: #BB370E;
}
.header__phone-focus .focus-visible {
  background-color: #FFF5D1;
}
.header__top-link:hover ,
.header__nav-link:hover ,
.category__nav-link:hover,
.footer__link:hover {
  color: $violet;
}
.header__top-link:active ,
.header__nav-link:active ,
.category__nav-link:active ,
.footer__link:active {
  color: $violet-dark;
}
.header__dropdown-item .focus-visible,
.header__top-item .focus-visible ,
.category__nav-item .focus-visible,
.footer__right-child .focus-visible {
  background-color: $pink_violet;
  color: $violet-dark;
}
.header__nav-item .focus-visible {
  background-color: $pink_violet;
}
.header__form-input:hover {
  background-color: $footer-color;
  border-color: $footer-color;
}
.header__form-input:focus {
  background-color: #F8EFFF;
  border-color: $violet;
}
.header__form-input:active {
  background-color: #F7F7F7;
  border-color: #F7F7F7;
}
.header__form:active > .header__form-search .my-icon ,
.header__form-btn:active + .header__form-search .my-icon {
  fill: $violet;
}
.header__dropdown:hover {
  border-color: $violet;
}
.header__dropdown:active {
  border-color: $violet-dark;
}
.header__dropdown-box .focus-visible{
  border-color: $violet;
  background-color: #F8EFFF;
}
.header__dropdown-link:hover {
  color: $violet;
}
.header__dropdown-link:active {
  color: $violet-dark;
}
.header__basket-icon:hover ,
.header__user-icon:hover {
  fill: $violet-light;
}
.header__basket-icon:active ,
.header__user-icon:active {
  fill: $violet-dark;
}
.header__basket .focus-visible::after ,
.header__basket .focus-visible {
  background-color: $violet-light;

}
.header__basket .focus-visible  ,
.header__basket .focus-visible {
  .header__basket-icon ,
  .header__user-icon {
    fill: white;
  }
}
.header__form-btn:hover {
  background-color: $violet;
}
.header__form-btn:hover .my-icon-arrow {
  stroke: white;
}
.header__form-btn:active {
  .my-icon-arrow{
    stroke: white;
  }
  background-color: $violet-dark;
  border-color: $violet-dark;
}
.header__form .focus-visible:not(:first-child) {
  background-color: $violet-light;
}
.header__form .focus-visible:not(:first-child) .my-icon-arrow{
  stroke: white;
}
// btn
.btn:hover {
  background-color: $violet-light;
}
.btn:active {
  background-color: $violet-dark;
  border-color: $violet-dark;
}
.btn:focus-visible {
  background-color: $violet-light;
  border-color: $violet-dark;
}
// offer
.swiper-box-btn-prev:hover ,
.swiper-box-btn-next:hover {
  .swiper-box-icon {
    stroke: white;
  }
  background-color: $violet;
}
.swiper-box-btn-prev:active ,
.swiper-box-btn-next:active {
  background-color: $violet-dark;
  border-color: $violet-dark;
  .swiper-box-icon {
    stroke: white;
  }
}
.swiper-box-btn-container .focus-visible {
  .swiper-box-icon {
    stroke: white;
  }
  background-color: $violet-light;
  outline: none;
}
// btn
.card-btn:hover {
  background-color: $violet;
  color: white;
}
.card-btn:focus-visible {
  background-color: $violet-light;
  color: white;
}
.card-btn:active {
  background-color: $violet-dark;
  border-color: $violet-dark;
  color: white;
}
// category

.banner__link:hover ,
.category__link:hover {
  .go-catalog-text {
    border-color: $violet;
  }
  .go-catalog-icon {
    background-color: $violet;
    .go-catalog-svg {
      stroke: white;
    }
  }
}
.banner__link:active ,
.category__link:active {
  .go-catalog-text {
    border-color: $violet-dark;
    color: $violet-dark;
  }
  .go-catalog-icon {
    background-color: $violet-dark;
    border-color: $violet-dark;
    .go-catalog-svg {
      stroke: white;
    }
  }
}
.banner .focus-visible ,
.category__item .focus-visible {
  .go-catalog-text {
    border-color: $violet;
  }
  .go-catalog-icon {
    background-color: $violet-light;
    .go-catalog-svg {
      stroke: white;
    }
  }
}

// contacts
.my-checkbox:checked + .my-checkbox-custom {
  background-color: $violet;
  border-color: $violet;
  background-image: url(img/mark.svg);
}
.my-input-custom:hover {
  background-color: $footer-color;
  border-color: $footer-color;
}
.my-input-custom:focus {
  background-color: #F8EFFF;
  border-color: $violet;
}
.my-label-checkbox {
  transition: color .3s ease;
}
.my-label-checkbox:hover  {
  color: $violet-light;
}
.my-label-checkbox:active  {
  color: $violet-dark;
}
.my-checkbox-custom {
  transition: border-color .3s ease;
}
.my-label-checkbox:hover .my-checkbox-custom {
  border-color: $violet;
}
.my-label-checkbox:active .my-checkbox-custom {
  border-color: $violet-dark;
}
.my-label-checkbox .focus-visible + .my-checkbox-custom {
  outline: 1px solid $violet;
  outline-offset: 2px;
}
.contacts__checkbox-link:active {
  color: $violet-dark;
  border-color: $violet-dark;
}
.my-checkbox-custom + .focus-visible {
  background-color: $violet-light;
  color: white;
}

// social
.social__link:hover {
  .social__svg {
    fill: $violet;
  }
}
.social__link:active {
  .social__svg {
    fill: $violet-dark;
  }
}
.social__item .focus-visible {
  background-color: $violet-light;
  .social__svg {
    fill: white;
  }
}
.header__start-page:hover {
  cursor: pointer;
}

/*Убрать полосу прокрутки для всей страницы*/
*::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
*::-webkit-scrollbar {
  width: 6px;
  background: transparent;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #9B59B6;
}

*::-webkit-scrollbar-track {
  background: transparent;
  background-color: transparent;
}

.choices__list::-webkit-scrollbar {
  width: 2px;
}
.choices__list::-webkit-scrollbar-thumb {
  border-radius: 0;
}

// @import
@import 'medias';
